header {
    background: rgba(19, 18, 18, 0.95);
    color: #FFEBCD;
    height: 30px;
    padding: 10px;
    font-size: 20px;
}

body {
    background: url("https://i.pinimg.com/originals/31/32/f5/3132f5326be79dfde1bdbc9764e9df12.jpg");
    background-size: cover;
    min-width: 250px;
    margin: 0;
    font-family: "Lucida Handwriting", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


iframe {
    opacity: 100%;
}

#websiteSettingsSection {
    cursor: pointer;
}

section {
    background: #FFA07A;
    opacity: 97%;
    box-shadow: 6px 3px 3px #646363;
    border-radius: 4px;
    margin: 25px 30px;
    padding: 4px 20px;
    border: 2px solid rgb(45, 44, 44);
}


footer {
    text-align: center;
    background: rgba(19, 18, 18, 0.92);
    color: #F5F5F7;
    padding: 6px;
}

h3 {
    margin: 5px;
}


section:hover {
    box-shadow: 10px 6px 6px #FF69B4;
}

.die {
    text-align: center;
    padding: 200px;
    color: red;
    font-size: 40px;
    font-weight: bolder;
}

textarea {
    background: rgba(238, 236, 236, 0.97);
    border: 1px solid #021f1f;
    border-radius: 4px;
}

button {
    background: #990000;
    color: #ffff99;
    border: 2px solid #021f1f;
    border-radius: 4px;
}

button:hover {
  box-shadow: 1px 2px 2px #FF69B4;
  color: #00BFFF;
}


input, select {
    background: rgba(238, 236, 236, 0.97);
    border: 2px solid #021f1f;
    border-radius: 4px;
}

input:hover {
  border: 2px solid #FF7F50;
  border-radius: 4px;
  background: #990000;
  color: #ffff99;
}

textarea:hover {
  border: 2px solid #FF7F50;
  border-radius: 4px;
  background: #990000;
  color: #ffff99;
}

.alert {
    border-radius: 4px;
    padding: 12px;
    color: white;
    margin: 20px 30px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
